<div class="login-wrapper">
  <div class="login-container">
    <div class="login-header">
      <div class="logo">
        <mat-icon>apartment</mat-icon>
      </div>
      <h1>Welcome Back</h1>
      <p>Sign in to BuildingHub to continue</p>
    </div>

    <form (ngSubmit)="onSubmit()" class="login-form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          [(ngModel)]="email"
          name="email"
          required
          placeholder="super@admin.com"
        />
        <mat-icon matPrefix>email</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          [(ngModel)]="password"
          name="password"
          required
          placeholder="Enter your password"
        />
        <mat-icon matPrefix>lock</mat-icon>
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword = !hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>

      <div class="error-message" *ngIf="errorMessage">
        <mat-icon>error</mat-icon>
        {{ errorMessage }}
      </div>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="login-button"
      >
        Sign In
      </button>
    </form>

    <!-- <div class="login-footer">
      <span>Don't have an account?</span>
      <a routerLink="/register">Create one</a>
    </div> -->
  </div>
</div>
